<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7a</key>
	<string>7a.glif</string>
	<key>\</key>
	<string>\.glif</string>
	<key>alif</key>
	<string>alif.glif</string>
	<key>alifmaqsurah</key>
	<string>alifmaqsurah.glif</string>
	<key>ayn</key>
	<string>ayn.glif</string>
	<key>ba</key>
	<string>ba.glif</string>
	<key>da</key>
	<string>da.glif</string>
	<key>dal</key>
	<string>dal.glif</string>
	<key>dhad</key>
	<string>dhad.glif</string>
	<key>dhal</key>
	<string>dhal.glif</string>
	<key>fa</key>
	<string>fa.glif</string>
	<key>gayn</key>
	<string>gayn.glif</string>
	<key>gim</key>
	<string>gim.glif</string>
	<key>ha</key>
	<string>ha.glif</string>
	<key>jeremy</key>
	<string>jeremy.glif</string>
	<key>kaf</key>
	<string>kaf.glif</string>
	<key>kha</key>
	<string>kha.glif</string>
	<key>lam</key>
	<string>lam.glif</string>
	<key>mim</key>
	<string>mim.glif</string>
	<key>num</key>
	<string>num.glif</string>
	<key>qaf</key>
	<string>qaf.glif</string>
	<key>ra</key>
	<string>ra.glif</string>
	<key>sad</key>
	<string>sad.glif</string>
	<key>shin</key>
	<string>shin.glif</string>
	<key>sin</key>
	<string>sin.glif</string>
	<key>ta</key>
	<string>ta.glif</string>
	<key>tda</key>
	<string>tda.glif</string>
	<key>tha</key>
	<string>tha.glif</string>
	<key>waw</key>
	<string>waw.glif</string>
	<key>ya</key>
	<string>ya.glif</string>
	<key>zin</key>
	<string>zin.glif</string>
</dict>
</plist>
